html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: $paragraph-size;
  color: $text-main-color;
  line-height: 1.44;
  font-family: SegoeUI, "Helvetica Neue", Helvetica, sans-serif;
}

main {
  display: block;
  flex: 1 0 auto;
  margin-top: 80px;

  & > section {
    display: flex;
    //margin-bottom: $XL;
  }

  > header {
    width: 100%;
    height: 400px;
    position: relative;

    @media screen and (min-width: $tablet) {
      height: calc(100vh - 330px);
      max-height: 560px;
    }
  }
}

h1, h2, h3, h4, h5 {
  margin: $XS 0;
  line-height: 1.2;
  font-weight: 500;
  color: $header-color;
}

h1 {
  margin: 0;
  font-size: $h1-size;
  color: #fff;
}

h2 {
  font-size: $h2-size;
  font-weight: 600;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
  margin: 0 0 $S;
  color: #fff;
}

p {
  font-size: $paragraph-size;
  line-height: 1.22;
  color: $text-main-color;
}

a {
  text-decoration: none;
  color: $text-main-color;
}

ul, ol {
  margin: 0 0 0 $S;
  padding: 0;
}

strong {
  font-weight: 600;
}

iframe {
  width: 100%;
  border: 0;
}

label {
  font-size: 18px;
  font-weight: 600;
}

.wpcf7 {
  label {
    display: flex;
    flex-direction: column;

    span {
      margin-top: $XS;
    }
  }
}

input, textarea {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  font-size: 18px;
  font-family: SegoeUI, "Helvetica Neue", Helvetica, sans-serif;
}

input[type="submit"] {
  width: 120px;
  border: none;
  background: $fire;
  box-shadow: none;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  min-width: 230px;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease;
}

form {
  p {
    margin: 0 0 10px 0;
  }
}


select::-ms-expand {
  display: none; //IE11
}

/* Firefox - removes outline */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $text-main-color;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}


.textwidget {
  p {
    color: #fff;
  }
}

.widgettitle {
  color: #fff;
}






















.table {
  width: 100%;
  margin-bottom: $L;
  border-spacing: 5px;


  &__header {
    height: 60px;
    border: none;
    background: $water;
    color: #fff;
  }
}

th, td {
  border: 1px solid $water;
  padding: $XS $S;
  text-align: center;
}








.icon-box {
  margin-top: 80px;
  text-align: center;

  p {
    font-size: 18px;
  }

  svg {
    height: 70px;
  }
}













.grid {
  display: flex;
  justify-content: space-between;
}














form .nf-form-content input:not([type="button"]), .nf-form-content textarea {
  border: 1px solid #E5E5E5;
  background: none;
}

.checkbox-container.label-right label {
  font-weight: normal;
}

.nf-error-msg {
  font-size: 16px;
}
