.box {
  display: flex;
  flex-direction: column;
  padding: 60px;
  border: 1px solid #9E9C9C;

  &--height-300 {
    height: 300px;
  }

  &--center {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &--mt {
    margin-top: $L;
  }

  &--mb {
    margin-bottom: $L;
  }


  &--small {
    max-width: 410px;
    padding: $M;
  }

/*  &--large {
    p, h4, button {
      font-size: 22px;
    }
  }*/

  svg {
    height: 48px;
  }

  h4 {
     color: $water;
  }

  h4 {
    font-weight: 600;
  }

  &--water {
    border-color: $water;

    h4 {
      color: $water;
    }
  }

  &--fire {
    border-color: $fire;

    h4 {
      color: $fire;
    }
  }

  &--earth {
    border-color: $ground;

    h4 {
      color: $ground;
    }
  }

  &--wind {
    border-color: $wind;

    h4 {
      color: $wind;
    }
  }
}
