.box {
  display: flex;
  flex-direction: column;
  padding: $M;
  border: 1px solid #9E9C9C;

  @media screen and (min-width: $desktop) {
    padding: $L;
  }

  &--height-300 {
    height: 300px;
  }

  &--height-150 {
    height: 150px;
  }

  &--center {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &--mt {
    margin-top: $L;
  }

  &--mb {
    margin-bottom: $L;
  }

  &--small {
    max-width: 410px;
    padding: $M;
  }

  &--fluid {
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 -15px -20px;
  }


  &--bg-water {
    background-color: rgba(59, 179, 198, .1)
  }

  &--bg-fire {
    background-color: rgba(228, 96, 21, .1)
  }

  &--bg-earth {
    background-color: rgba(133, 175, 75, .1)
  }

  &--bg-wind {
    background-color: rgba(102, 112, 128, .1)
  }



/*  &--large {
    p, h4, button {
      font-size: 22px;
    }
  }*/

  svg {
    height: 48px;
  }

  h4 {
     color: $water;
  }

  h4 {
    font-weight: 600;
  }

  &--water {
    border-color: $water;

    h4 {
      color: $water;
    }
  }

  &--fire {
    border-color: $fire;

    h4 {
      color: $fire;
    }
  }

  &--earth {
    border-color: $ground;

    h4 {
      color: $ground;
    }
  }

  &--wind {
    border-color: $wind;

    h4 {
      color: $wind;
    }
  }
}
