@media only screen and (min-width: $desktop) {

  .menu-item-28, .menu-item-12, .menu-item-26 {
    &:hover {
      background: $fire;
    }

    &.current_page_item {
      background: $fire;
    }
  }

  .menu-item-14 {
    &:hover {
      background: $water;
    }

    &.current_page_item {
      background: $water;
    }
  }

  .current-menu-ancestor {
    background: $water;

    > a {
      color: #FFF;
    }
  }

  .menu-item-27 {
    &:hover {
      background: $ground;
    }

    &.current_page_item {
      background: $ground;
    }
  }

  .menu-item-17, .menu-item-536, .menu-item-619, .menu-item-620 {
    &:hover {
      background: $wind;
    }

    &.current_page_item {
      background: $wind;
    }
  }

  .current_page_item {
    > a {
      color: #FFF;
    }
  }

  .sub-menu {
    li {
      a {
        color: #ededed;
      }
    }
  }
}
