.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 120px;
    padding: 24px;
    margin-top: $M;
    border: 1px solid #9E9C9C;
    border-radius: 50%;
    color: #9E9C9C;
    font-size: 16px;


    @media screen and (min-width: $tablet) {
        height: 180px;
        width: 180px;
        padding: 40px;
        margin: 60px 0 40px;
        font-size: 18px;
    }

    &:hover {
        background: #E46015;
        color: #fff;
        border: none;

        &:hover {
            path {
                fill: #fff;
            }
        }
    }


    &--mt {
        margin-top: $L;
    }

    &--mb {
        margin-bottom: #{$L - 20px};
    }

    &--fire {
        &:hover {
            background: $fire;
        }
    }

    &--water {
        &:hover {
            background: $water;
        }
    }

    &--earth {
        &:hover {
            background: $ground;
        }
    }

    &--wind {
        &:hover {
            background: $wind;
        }
    }

    svg {
        margin-bottom: 10px;
    }
}



.gallery {
    position: relative;
    background-color: #000;
    background-size: cover;
    min-height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
