#branding {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 40px;
  background: rgba(0, 0, 0, .8);

  a {
    padding: 10px 30px;
    background: $fire;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
  }
}

.offer {
  padding: $L 0;
  text-align: center;

  &__img {
    height: 100px;
  }

  &__header {
    margin-bottom: $L;

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }

    &--wind {
      margin-bottom: 0;
    }
  }

  &__element {
    display: block;

    &:hover {
      .offer__header--fire {
        color: $fire;
      }

      .offer__header--water {
        color: $water;
      }

      .offer__header--ground {
        color: $ground;
      }

      .offer__header--wind {
        color: $wind;
      }
    }
  }
}


.about {
  padding: $XL 0;
  background: $fire;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: $XXL 0;
  }

  p, a {
    color: #fff;
  }
}

.swimming {
  background: $water;
  padding: $XL 0;

  @media screen and (min-width: $tablet) {
    padding: $XXL 0;

    .c6 {
      padding: 0 $L 0 0;
    }
  }

  img {
    width: 100%;
    margin-bottom: $S;
    clip-path: polygon(41.61% 0, 100% 69.79%, 37.46% 100%, 0 57.85%);
  }

  li, a {
    color: #fff;
  }
}

.trainings {
  background: $ground;
  padding: $XL 0;

  @media screen and (min-width: $tablet) {
    padding: $XXL 0;

    .row {
      flex-direction: row-reverse;
    }
  }

  img {
    width: 100%;
    margin-bottom: $S;
    clip-path: polygon(17.67% 0, 100% 40.24%, 75.58% 100%, 0 100%)
  }

  li {
    color: #fff;
  }
}

.camps {
  background: $wind;
  padding: $XL 0;

  @media screen and (min-width: $tablet) {
    padding: $XXL 0;

    .c6 {
      padding: 0 $L 0 0;
    }
  }

  img {
    width: 100%;
    margin-bottom: $S;
    clip-path: polygon(17.67% 12px, 100% 0, 91.53% 81.41%, 0 100%)
  }

  li, a {
    color: #fff;
  }
}


.partners {
  padding: $XL 0;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: $XXL 0;
  }

  h2 {
    margin-top: 0;
  }
}
