.grid {
  display: flex;
  justify-content: space-between;
}

.justify-content-center {
  display: flex;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $S;

  @include for-size(tablet) {
    width: calc(100% - #{2 * $S});
  }

  @include for-size(desktop) {
    max-width: 1200px - 2 * $S;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -$XS;
  margin-left: -$XS;

  &--reversed {
    flex-direction: column-reverse;

    @include for-size(tablet) {
      flex-direction: row;
    }
  }
}

$grid-column-widths: (
  3: 25%,
  4: 33.3333333333%,
  6: 50%,
  8: 66.6666666667%,
  9: 75%,
  12: 100%
);

.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-10,
.col-12,
.col,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-9,
.col-sm-12,
.col-sm,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-9,
.col-md-12,
.col-md,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-9,
.col-lg-12,
.col-lg {
  position: relative;
  width: 100%;
  padding-right: $XS;
  padding-bottom: $S;
  padding-left: $XS;
}

@mixin grid-columns($prefix) {
  .#{$prefix} {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .#{$prefix}-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  @each $column, $width in $grid-column-widths {
    .#{$prefix}-#{$column} {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 $width;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@include grid-columns("col");

@include for-size(tablet) {
  @include grid-columns("col-sm");
}

@include for-size(tablet-landscape) {
  @include grid-columns("col-md");
}

@include for-size(desktop) {
  @include grid-columns("col-lg");
}
