.nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 3;
  background: #fff;
  width: 100%;

  &__logo {
    display: flex;
    height: 60px;
    margin: $XS;

    @media screen and (min-width: $tablet) {
      margin: $XS $XS $XS $M;
    }
  }

  &__toggle-button {
    display: flex;
    padding: 8px 20px 8px 10px;
    cursor: pointer;
    align-self: center;
    align-items: flex-end;
    flex-grow: 1;
    flex-direction: column;
  }

  &__toggle-icon {
    display: inline-block;
    position: relative;
    top: 0;
    width: 24px;
    height: 2px;
    background-color: #384a5f;
    transform: rotate(0);
    transition: transform 300ms 100ms;

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $header-color;
      transform: rotate(0);
      transition: transform 300ms 100ms;
    }

    &:before {
      top: -6px;
    }

    &:after {
      top: 6px;
    }

    &--open {
      background: transparent;

      &:before {
        top: 0;
        transform: rotate(135deg);
      }

      &:after {
        top: 0;
        transform: rotate(225deg);
      }
    }
  }

  &__nav-mobile {
    position: fixed;
    width: 100vw;
    background: #fff;
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    top: 80px;
    left: 0; //IE fix

    .menu-item-12 {
      display: none;
    }

    .sub-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;

      li {
        flex-direction: column;
        padding: 0 0 0 20px;
      }

      a:before {
        content: "– ";
      }
    }

    div {
      > ul {
        margin: 0;

        li {
          height: 100%;
          line-height: 44px;
          display: block;
          padding: 0;

          a {
            font-size: 18px;
            display: block;
            padding: 0 $S;
          }
        }
      }
    }
  }

  &__nav-desktop {
    display: none;
    flex: 1;
    text-transform: uppercase;

    & > div {
      flex: 1;
    }

    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
    }

    ul {
      list-style: none;
    }
  }

  @media only screen and (min-width: 1068px) {
    &__nav-mobile {
      display: none;
    }

    &__nav-desktop {
      display: flex;

      div {
        li {
          position: relative;
          height: 100%;
          //transition: all 300ms;

          ul {
            display: none;
            margin: 0;
            flex-direction: column;
            position: absolute;
            width: 100%;

            > li {
              background: $water;
              height: 80px;

              &.menu-item-17, &.menu-item-536, &.menu-item-619, &.menu-item-620, &.menu-item-879, &.menu-item-1292, &.menu-item-1304, &.menu-item-1659 {
                  background: $ground;
              }

              &.menu-item-27 {
                background: $wind;
              }

              &.menu-item-1239 {
                background: $fire;
              }
            }
          }

          &:hover > ul {
            display: flex;
          }

          a {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 0 $S;

            &:hover {
              color: #FFF;
            }
          }
        }
      }
    }

    &__toggle-button {
      display: none;
    }
  }
}


#menu-menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}









@media only screen and (min-width: $desktop) {
  .menu-item-28, .menu-item-12, .menu-item-26, &.menu-item-1239 {
    &:hover {
      background: $fire;
    }

    &.current_page_item {
      background: $fire;
    }
  }

  .menu-item-14 {
    &:hover {
      background: $water;
    }

    &.current_page_item {
      background: $water;
    }
  }

  .current-menu-ancestor {
    background: $water;

    &.menu-item-17 {
      background: $ground;
    }

    > a {
      color: #FFF;
    }
  }

  .menu-item-17 {
    &:hover {
      background: $ground;
    }

    &.current_page_item {
      background: $ground;
    }
  }

  .menu-item-27 {
    &:hover {
      background: $wind;
    }

    &.current_page_item {
      background: $wind;
    }
  }

  .menu-item-17:hover > a, .menu-item-14:hover > a {
    color: #ededed;
  }

  .current_page_item {
    > a {
      color: #FFF;
    }
  }

  .sub-menu {
    li {
      a {
        color: #ededed;
      }
    }
  }
}

