.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $L;
  color: #fff;
  justify-content: center;

  h1 {
    padding: 30px 20px;
    text-transform: uppercase;
    background: #3BB3C6;
    width: 100%;
    text-align: center;

    &.fire {
      background: $fire;
    }
    &.water {
      background: $water;
    }
    &.ground {
      background: $ground;
    }
    &.wind {
      background: $wind;
    }
  }

  img {
    height: 560px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -100px;
  }
}

.bg-water {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1050px;
  background: $water;
}

.bg-fire {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1700px;
  background: $fire;
}

.bg-ground {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1700px;
  background: $ground
}

.bg-wind {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1700px;
  background: $wind;
}

.bg-white {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 380px;
  background: #fff;
}

.bg-header {
  margin-top: $L;
  color: #fff;
}







