.table {
    width: 100%;
    margin-bottom: $L;
    border-spacing: 5px;

    &__header {
        height: 60px;
        border: none;
        background: $water;
        color: #fff;
    }

    &--hide-mobile {
        display: none;

        @media screen and (min-width: $desktop) {
            display: table;
        }
    }

    &--hide-desktop {
        display: table;

        @media screen and (min-width: $desktop) {
            display: none;
        }
    }
}

th, td {
    border: 1px solid $water;
    padding: $XS $S;
    text-align: center;
}
