@media screen and (min-width: $tablet) {
  .offer {
    .c:nth-child(2) {
      margin: 0 $M/2 0 $M;
    }

    .c:nth-child(3) {
      margin: 0 $M 0 $M/2;
    }

    h4 {
      margin-bottom: 0;
    }
  }

  .posts {
    &:first-child {
      margin-right: $M;
    }

    &:last-child {
      margin-left: $M;
    }
  }
}
