/* Spacing */
$XS: 10px;
$S: 20px;
$M: 30px;
$L: 60px;
$XL: 80px;
$XXL: 120px;

/* Sizes */
$navigation-height: 70px;

/* Colors */
$text-main-color: #384a5f;
$header-color: #384a5f;
$fire: #E46015;
$water: #3BB3C6;
$ground: #85AF4B;
$wind: #464F5C;


$main: #4A90E2;
$secondary: #f7fbff;
$third: #384A5F;

/* Fonts */
$paragraph-size: 22px;
$h1-size: 24px;
$h2-size: 38px;
$h3-size: 30px;
$h4-size: 24px;
$h5-size: 16px;

/* Resolutions */
$desktop: 1024px;
$tablet: 768px;


// Mixins
@mixin for-size($size) {
    @if $size == tablet {
        @media (min-width: 768px) { @content; }
    } @else if $size == tablet-landscape {
        @media (min-width: 992px) { @content; }
    } @else if $size == desktop {
        @media (min-width: 1200px) { @content; }
    }
}
